<div class="box border player" id="player{{ player.pid }}">
	<div class="status left playerstatus">
		{{ macros.playerstatus(player) }}
	</div>
	
	<div class="box border info left maininfo">
		{{ macros.maininfo(player) }}
	</div>

	<div class="box outputs left">
		{% for output in player.outputs %}
			{% if output.outputenabled == "1" %}
				<div class="output ctrl active" id="ctrl_o{{ output.outputid.zfill(2) }}{{ player.pid }}">{{ output.outputname }}</div>
			{% else %}
				<div class="output ctrl" id="ctrl_o{{ output.outputid.zfill(2) }}{{ player.pid }}">{{ output.outputname }}</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="box volumebar right">
		<div class="bar"></div>
	</div>
	<div class="box controls right">
		<button class="ctrl" id="ctrl_ply{{ player.pid }}"><img src="/static/images/bt_play.png" alt="PLY"/></button>
		<button class="ctrl" id="ctrl_pse{{ player.pid }}"><img src="/static/images/bt_pause.png" alt="PSE"/></button>
		<button class="ctrl" id="ctrl_vup{{ player.pid }}"><img src="/static/images/bt_volume_up.png" alt="VOL +"/></button>
		<br/>
		<button class="ctrl" id="ctrl_rew{{ player.pid }}"><img src="/static/images/bt_rewind.png" alt="REW"/></button>
		<button class="ctrl" id="ctrl_fwd{{ player.pid }}"><img src="/static/images/bt_forward.png" alt="FWD"/></button>
		<button class="ctrl" id="ctrl_vdn{{ player.pid }}"><img src="/static/images/bt_volume_down.png" alt="VOL -"/></button>
	</div>
	<div class="box playlist right">
		{% if player.playlists %}
			<select>
				{% if player.playlists['shared'] %}
					<optgroup label="Shared Lists">
						{% for pls in player.playlists['shared']|sort %}
							<option value="{{ pls[1] }}">{{ pls[0] }}</option>
						{% endfor %}
					</optgroup>
				{% endif %}
				{% if player.playlists['server'] %}
					<optgroup label="Server Lists">
						{% for pls in player.playlists['server']|sort %}
							<option value="{{ pls[1] }}">{{ pls[0] }}</option>
						{% endfor %}
					</optgroup>
				{% endif %}
			</select>
		{% endif %}
	</div>
	<div class="clear"> </div>

	<div class="status subinfo">
		{{ macros.subinfo(player) }}
	</div> 

	{% if debug %}
		<div id="debug">
			{{ player.name }} |
			host: {{ player.host }}:{{player.port }} |
			volume: <span class="volume">{{ player.status.volume | default('0') }}</span>
		</div>
	{% endif %}
</div>
<script type="text/javascript">
	window.addEvent('domready', function(){
		players.set({{ player.pid }}, new Player({
			pid: {{ player.pid }}
        }));
	});
</script>

