<div class="box border player big" id="player{{ player.pid }}">
	<div class="status">
		<span class="playerstatus">
			{{ macros.playerstatus(player) }}
		</span>
		{{ player.name }} currently playing:
	</div>
	<div class="box border info maininfo">
		{{ macros.maininfo(player) }}
	</div>
	<div class="status subinfo">
		{{ macros.subinfo(player) }}
	</div> 
</div>
<script type="text/javascript">
	window.addEvent('domready', function(){
		players.set({{ player.pid }}, new Player({
			pid: {{ player.pid }}
		}));
	});
</script>

